$imgSufix: unquote("../img/culture_");

$f_sans_serif: helvetica, sans-serif, verdana;
$f_montserrat: 'Montserrat', $f_sans_serif;
$f_bpreplay: 'BPReplay Extended', $f_sans_serif;

$transition: 500ms;

$orange: #f1b323;
$purple: #546583;
$dark_purple: #071429;
$pink: #e76573;
$green: #99d658;
$cyan: #3dae9f;

$darker_purple: #1d222a;