$imgSufix: unquote("../img/culture_");

$f_sans_serif: helvetica, sans-serif, verdana;
$f_amatic: 'Amatic SC', $f_sans_serif;
$f_ubuntu: 'Ubuntu', $f_sans_serif;
$f_mono: 'Courier 10 Pitch', 'Mono Uralic', 'Courier New', Courier;
$f_pacifico: 'Pacifico', $f_sans_serif;
$f_quicksand: 'quicksand', $f_sans_serif;
$f_lgothic: 'leaguegothic', $f_sans_serif;
$f_orbitron: 'Orbitron', $f_sans_serif;
$f_montserrat: 'Montserrat', $f_sans_serif;
$f_bpreplay: 'BPreplay', helvetica, sans-serif, verdana;

$transition: 500ms;

$orange: #f1b323;
$purple: #546583;
$dark_purple: #071429;
$pink: #e76573;
$green: #99d658;
$cyan: #3dae9f;

$darker_purple: #1d222a;