footer {
	background-color: #b5a591;
	text-align: center;
	font-size: 10pt;
	position: relative;
	padding: 70px 0 20px;
	color: #000;

	@media (max-width: 500px) {
		padding: 50px 0 20px;
	}

	h2 {
		text-transform: capitalize;
		font-size: 28pt;

		@media (max-width: 500px) {
			font-size: 20pt;
		}
	}

	a {
		color: #D9E021;
		text-decoration: none;
	}

	.mail {
		text-decoration: none;
		color: inherit;

		@media (max-width: 500px) {
			font-size: 9pt;
		}
	}

	.icon {
		padding: 14px 16px;
		background-color: #245a73;
		border-radius: 50%;
		text-decoration: none;
		font-size: 13pt;
		margin: 0 6px 20px;
		color: #fff;
		transform: rotateY(0deg);
		transition: all 1s ease;
		display: inline-block;

		@media (max-width: 500px) {
			font-size: 11pt;
			margin: 0 5px 17px;
			padding: 10px 12px;
		}

		&:hover {
			color: #245a73;
			background-color: #fff;
			transform: rotateY(360deg);
		}

		&.website {
			padding: 18px 16px 10px;
			position: relative;
			top: 4px;

			@media (max-width: 500px) {
				padding: 14px 12px 6px;
				top: 4px;
			}

		}

	}
}