section.letter {
	position: relative;
	background-color: #fff;

	.container {
		max-width: 512px;
		margin: 30px auto;
		padding: 20px;
		position: relative;
		z-index: 5;

		p:first-child {
			font-family: $f_bpreplay;
			font-size: 38pt;
			font-weight: bold;
			line-height: 1;
			margin: 15px 18px 0px 0px;
			float: left;
			text-transform: uppercase;
		}

		em {
			color: #00c76f;
			font-style: normal;
		}

		&:before, &:after {
			color: rgba(217, 224, 33, 0.78);
			font-size: 363pt;
			position: absolute;
			top: -130px;
			transition: all 500ms ease;
		}
		&:before {
			content: "[";
			left: -155px;
		}

		&:after {
			content: "]";
			right: -155px;
		}
	}
}